html(lang="en")
    head
        title Get everyone in the Loop!
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="bg-gradient-fuchsia background-animate overflow-hidden")
                section
                    div(class="flex items-center justify-between px-8 py-5")
                        div(class="w-auto")
                            div(class="flex flex-wrap items-center")
                                div(class="w-auto mr-14")
                                    a(href="#")
                                        img(src="images/LoopPrinter-light.png", alt="", class="w-48")
                        div(class="w-auto hidden lg:block")               
                        |             
                        div(class="w-auto")
                            div(class="flex flex-wrap items-center")
                                div(class="w-auto hidden lg:block")
                                    button(class="font-heading block py-3.5 px-5 uppercase text-xs tracking-px text-white font-bold bg-white bg-opacity-20 hover:bg-opacity-10 transition ease-in rounded-10") Get Loop Printer extension
                                div(class="w-auto lg:hidden")
                                    a(href="#")
                                        svg(class="navbar-burger text-gray-800", width="51", height="51", viewbox="0 0 56 56", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            rect(width="56", height="56", rx="28", fill="currentColor")
                                            path(d="M37 32H19M37 24H19", stroke="white", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                    div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50")
                        div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")
                        nav(class="relative z-10 px-9 py-8 bg-white h-full")
                            div(class="flex flex-wrap justify-between h-full")
                                div(class="w-full")
                                    div(class="flex items-center justify-between -m-2")
                                        div(class="w-auto p-2")
                                            a(class="inline-block", href="#")
                                                img(src="gradia-assets/logos/gradia-name-black.svg", alt="")
                                        div(class="w-auto p-2")
                                            a(class="navbar-burger", href="#")
                                                svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M6 18L18 6M6 6L18 18", stroke="#111827", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                div(class="flex flex-col justify-center py-8 w-full")
                                    ul
                                        li(class="mb-12")
                                            a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="#") Features
                                        li(class="mb-12")
                                            a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="#") Solutions
                                        li(class="mb-12")
                                            a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="#") Resources
                                        li
                                            a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="#") Pricing
                                div(class="flex flex-col justify-end w-full")
                                    div(class="flex flex-wrap")
                                        div(class="w-full")
                                            button(class="p-0.5 font-heading block w-full text-lg text-gray-900 font-medium rounded-10")
                                                div(class="py-2 px-5 rounded-10")
                                                    p Login
                                        div(class="w-full")
                                            button(class="group relative p-0.5 font-heading block w-full text-lg text-gray-900 font-medium bg-gradient-cyan overflow-hidden rounded-10")
                                                div(class="absolute top-0 left-0 transform -translate-y-full group-hover:-translate-y-0 h-full w-full bg-gradient-cyan transition ease-in-out duration-500")
                                                div(class="py-2 px-5 bg-white rounded-lg")
                                                    p(class="relative z-10") Start Free Trial
                div(class="relative container mx-auto px-4")
                    img(class="hidden xl:block absolute bottom-64 left-56 transform -translate-y-4", src="gradia-assets/elements/hero/line2.svg", alt="")
                    img(class="hidden xl:block absolute bottom-64 right-56 transform -translate-y-28", src="gradia-assets/elements/hero/line3.svg", alt="")
                    div(class="relative z-10 flex flex-wrap justify-center items-center -m-6 lg:pt-32 pb-36")
                        div(class="w-full lg:w-auto p-6 self-start")               
                        |             
                        div(class="flex-1 p-6")
                            div(class="lg:max-w-2xl mx-auto")
                                h1(class="mb-6 font-heading text-center text-white text-7xl md:text-9xl xl:text-12xl font-bold") Get more people in the Loop!
                                p(class="mb-10 font-medium text-xl text-center text-white") Easily print (and save to PDF) your Loop pages to get more people in the loop.
                                button(class="group mb-9 relative flex items-center justify-center font-heading px-24 py-5 mx-auto w-full lg:w-auto uppercase text-white text-xs font-semibold tracking-px bg-gray-900 overflow-hidden rounded-md")
                                    div(class="absolute transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-fuchsia")
                                    p(class="relative z-10 mr-2") Loop Printer (Beta) - ADD TO CHROME
                                    svg(class="relative z-10", width="19", height="18", viewbox="0 0 19 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd", clip-rule="evenodd", d="M9.49999 16.2C13.4764 16.2 16.7 12.9764 16.7 8.99999C16.7 5.02354 13.4764 1.79999 9.49999 1.79999C5.52354 1.79999 2.29999 5.02354 2.29999 8.99999C2.29999 12.9764 5.52354 16.2 9.49999 16.2ZM12.8364 8.36359L10.1364 5.66359C9.78491 5.31212 9.21506 5.31212 8.86359 5.66359C8.51212 6.01506 8.51212 6.58491 8.86359 6.93638L10.0272 8.09999L6.79999 8.09999C6.30293 8.09999 5.89999 8.50293 5.89999 8.99999C5.89999 9.49704 6.30293 9.89999 6.79999 9.89999H10.0272L8.86359 11.0636C8.51212 11.4151 8.51212 11.9849 8.86359 12.3364C9.21506 12.6879 9.78491 12.6879 10.1364 12.3364L12.8364 9.63638C13.1879 9.28491 13.1879 8.71506 12.8364 8.36359Z", fill="white")
                        div(class="w-full lg:w-auto p-6 self-end")               
                        |             
            section(class="relative pt-24 overflow-hidden")
                div(class="container mx-auto px-4 mb-12")
                    div(class="flex flex-wrap -m-6")
                        div(class="w-full p-6")
                            h2(class="mb-16 max-w-xl mx-auto font-heading font-bold text-center text-6xl sm:text-7xl text-gray-900") Missing the print option?
                            div(class="flex flex-wrap -m-6")
                                div(class="w-full lg:w-1/2 p-6")
                                    div(class="mb-11 lg:max-w-sm")
                                        h3(class="mb-4 text-transparent bg-clip-text bg-gradient-purple2 font-heading text-xl") Inclusivity
                                        p(class="text-gray-600 text-base") Don't let the digital divide hold your team back. With Loop Printer, ensure everyone, everywhere has access to your collaborative workspaces, even offline.
                                    div(class="mb-11 lg:max-w-sm")
                                        h3(class="mb-4 text-transparent bg-clip-text bg-gradient-purple2 font-heading text-xl") Effortless Sharing
                                        p(class="text-gray-600 text-base") Bridge the gap between digital workspaces and traditional documentation. Convert your dynamic Loop pages into easy-to-distribute PDFs with just one click.
                div(class="ml-auto lg:absolute lg:top-64 lg:right-0 lg:w-1/2 max-w-max overflow-hidden bg-gradient-purple2 rounded-tl-3xl rounded-bl-3xl")
                    img(class="relative left-16 top-16 transform hover:-translate-x-5 hover:-translate-y-5 transition ease-in-out duration-500", src="images/Screenshot-2024-02-15-at-16-39-36.png", alt="")
            section(class="pt-24 overflow-hidden")
                div(class="container mx-auto px-4")
                    h3(class="text-center mb-4") Brought to you by
                    a(href="https://icebear.sk")
                        img(class="mx-auto mb-16 w-36", src="images/LogoText.png", alt="IceBear - Creative Igloo logo")
                    div(class="border-b border-gray-100")
                    p(class="text-gray-600 text-center py-8 text-sm") © Copyright 2024. All Rights Reserved by IceBear.
